{{!-- Main Header --}}
<div id="header" class="text-center">
    <h1 id="title">Eat the Burger!</h1>
    <img class="burger-image" src="assets/img/burger1.png" alt="burger gif">
</div>
<div class="container">
    <div class="col-sm-12 text-center">
        <h4 "text-center">What burger do you want to NOM?</h4>
        <form class="button-size" action="/api/burgers" method="POST">
            <input type="text" class="text-center" id="insertBurger" name="burger_name" placeholder="Insert Burger Name Here..."></input>
            <span class="input-group-btn">
                <button type="submit" class="insertBurgerBtn btn btn-primary">EAT IT!</button>
            </span>
        </form>
    </div>
    <div class="row">

        {{!-- Uneaten Burgers --}}
        <div class="col-sm-6">
            <h4 class="text-center columnHeading">Burgers to Eat:</h4>
            {{#each burgers}} {{#unless this.devoured}}
            <form action="/api/update/{{this.id}}?_method=PUT" method="POST">
                <div class="input-group">
                    <input type="hidden" name="devoured" value="true">
                    <li class="form-control uneaten">{{this.burger_name}}</li>
                    <span class="input-group-btn">
                        <button class="eatBurger btn btn-info" data-id="{{id}}" data-eat="{{devoured}}" type="submit">Devour It!</button>
                    </span>
                </div>
            </form>
            {{/unless}} {{/each}}
        </div>

        {{!-- Eaten burgers --}}
        <div class="col-sm-6">
            <h4 class="text-center columnHeading">Eaten Burgers:</h4>
            {{#each burgers}} {{#if this.devoured}}
            <div>
                <li class="form-control devoured">{{this.burger_name}}</li>
            </div>
            </form>
            {{/if}} {{/each}}
        </div>
    </div>
    <br>
</div>

<footer>
    <a href="/api" target="_blank">API</a> |
    <a href="" target="_blank">Github Repo</a>
    </footer>
